section.channel-home-section {
    padding: 20px 0;
}

section.channel-home-section+section.channel-home-section {
    border-top: 1px solid var(--text-highlight);
}

section.channel-home-section #unsubscribe_trailer {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(200px, 500px) 1fr;
}

section.channel-home-section #unsubscribe_trailer #watch_video {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

section.channel-home-section #unsubscribe_trailer .video-detail {
    overflow: hidden;
    min-width: 300px;
    max-width: 100%;
}

section.channel-home-section #unsubscribe_trailer .video-detail .counter {
    margin: 15px 0;
}

section.channel-home-section #unsubscribe_trailer .video-detail h4 {
    margin: 0;
}

section.channel-home-section #unsubscribe_trailer .video-detail p {
    -webkit-line-clamp: 7;
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 20px;
}

section.channel-home-section #unsubscribe_trailer .video-detail p a {
    color: var(--link-blue)
}

.channel-home-section .section-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel-home-section .section-header a:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.channel-home-section .section-header h2 {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-home-section .section-header .play-all {
    display: flex;
    gap: 5px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px 0 10px;
    fill: currentColor;
}

.channel-home-section .section-header .play-all:hover {
    background: var(--highlight-bg);
}

.channel-home-section .section-header .play-all span {
    font-size: 14px;
    font-weight: 500;
}

.channel-home-section .card-container {
    margin-top: 20px;
    --max-elem: 6;
}

.channel-home-section .card-container .infinite {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    width: auto;
    gap: 2px;
    scroll-snap-type: x mandatory;
}

.channel-home-section .card-container .infinite::-webkit-scrollbar {
    display: none;
    width: 0;
}

.channel-home-section .card-container .videocard {
    width: calc(100% / var(--max-elem, 1));
    flex-shrink: 0;
    scroll-snap-align: start;

}

.channel-home-section .card-container .channel-card {
    text-align: center;
    width: calc(100% / var(--max-elem, 1));
    flex-shrink: 0;
}

.channel-home-section .card-container .channel-logo {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    margin-bottom: 10px;
}

.channel-home-section .card-container .channel-info h4 {
    -webkit-line-clamp: 1;
}

.channel-home-section .card-container button.subscribe,
.channel-home-section .card-container button.unsubscribe {
    background: var(--highlight-bg);
    color: var(--white-text-color);
    padding: 0 10px;
    height: 30px;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .channel-home-section .card-container {
        --max-elem: 5;
    }
}

@media screen and (max-width: 768px) {
    section.channel-home-section #unsubscribe_trailer {
        grid-template-columns: 1fr;
    }


    section.channel-home-section #unsubscribe_trailer .video-detail p {
        -webkit-line-clamp: 2;
    }


    .channel-home-section .card-container {
        --max-elem: 2;
    }
}

@media screen and (max-width: 500px) {
    .channel-home-section .card-container {
        --max-elem: 1;
    }
}