header {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    justify-content: space-between;
}

header>div,
#menubar .bar-header {
    display: flex;
    height: 48px;
    gap: 15px;
    fill: #fff;
}

.yt-icon,
header .account {
    /* background-color: #fff; */
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .yt-icon:not(.no-hover):hover,
header .mic.yt-icon {
    background: var(--highlight-bg);
}

header .mic.yt-icon:hover {
    background: var(--highlight-light-bg);
}

.yt-icon svg {
    height: 60% !important;
    /* fill: #fff; */
}

.account {
    justify-content: center;
    /* width: auto; */
    aspect-ratio: unset !important;
}

.account .signin-button {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #3ea6ff;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .2);
    /* background-color: #f00; */
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
}

.account.show-signin-text .signin-button {
    padding: 0 4px;
}

.account .signin-button .yt-icon {
    width: 40px;
}

.account .signin-button .yt-icon svg {
    fill: currentColor;
    stroke-width: 4;
    height: 80% !important;
}

.account:not(.show-signin-text) .signin-button .yt-icon svg {
    height: 100% !important;
}

header .account img {
    height: 75%;
    border-radius: inherit;
    aspect-ratio: 1;
}

.loading {
    border: 3px solid transparent;
    border-top-color: var(--link-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px auto;
    animation: load 0.75s linear infinite;
}

@keyframes load {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

header .logo {
    height: 100%;
    display: flex;
    place-items: center;
}

header .logo svg {
    /* width: 100%; */
    height: 45% !important;
    fill: #fff;
}

#search_box {
    flex: 0.5 1 400px;
}

#SearchForm {
    height: 100%;
    display: flex;
    flex: 1 1;

}

#SearchForm input,
#SearchForm button {
    /* height: 50%; */
    background: transparent;
    border: .5px solid #303030;
    /* border-radius: 15px; */

}

#SearchForm input {
    background: #121212;
    border-radius: 24px 0 0 24px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    width: 100%;
    color: #999;
}

#SearchForm input:focus {
    border-color: #4d9aff
}

#SearchForm button {
    background: #222222;
    border-radius: 0 24px 24px 0;
    border-left: 0;
    width: 80px;
}

#menubar {
    position: absolute;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 100;
    gap: 0;
    transition: 0.15s ease-in-out;
}

#menubar>div {
    background: #0f0f0f;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    gap: 0;
    flex-direction: column;
    transition: 0.15s ease-in-out;
}

#menubar.active {
    left: 0;
}

#menubar::before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    z-index: -1;
    background: #00000080;
    transition: 0s;
}

#menubar.active::before {
    width: 100vw;
}

#menubar .bar-header {
    box-sizing: border-box;
    margin: 10px 20px 0;
}

#menubar .menu {
    flex: 1;
    overflow: auto;
    padding: 0;
    /* box-shadow: inset 0 0 0 2px #fff;*/
}

#menubar .menu::-webkit-scrollbar {
    background: transparent;
    width: 16px;
}

#menubar .menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
}

#menubar .menu:hover::-webkit-scrollbar-thumb {
    background-color: #717171;
}

#menubar .menu li {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0;
}

#menubar .menu li .item {
    text-decoration: none;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #f1f1f1;
    fill: currentColor;
    padding: 0 10px 0 20px;
    font-size: 15px;
}

#menubar .menu li a:hover,
#menubar .menu li a.active {
    background: #ffffff1a;
}

#menubar .menu li .icon {
    height: 25px;
    width: 60px;
}

#menubar .menu li svg,
#menubar .menu li img {
    aspect-ratio: 1;
    height: 100% !important;
    width: unset !important;
}

#menubar .menu li img {
    border-radius: 50%;
}

#menubar .menu .block {
    border-bottom: 1px solid #ffffff33;
    padding: 10px 0;
    position: relative;
}

#menubar .menu .block:nth-of-type(1)::before {
    content: '';
    display: block;
    width: calc(100% - 10px);
    margin-left: auto;
    height: 1px;
    background: #ffffff33;
    /* top: -10px; */
    margin-bottom: 10px;

}

#menubar .menu li.block-title .title {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-transform: capitalize;
}

#menubar .footer-text {
    padding: 10px 20px 10px;
    overflow: hidden;
    box-sizing: border-box;
}

#menubar .footer-text a {
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
    text-decoration: none;
    margin-right: 7px;
}

#menubar .copyright {
    font-size: 12px;
    color: #717171;
    padding: 10px 20px;
}



.top_category {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.top_category .arrow {
    width: 40px;
    aspect-ratio: 1;
    fill: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.top_category .arrow:hover {
    background-color: var(--highlight-bg);
}

.top_category .arrow svg {
    width: 30px !important;
    margin: auto;
}

.top_category .searches {
    flex: 1 1;
    /* max-width: calc(100% - 80px - 20px); */
    overflow-x: auto;
    scroll-behavior: smooth;
}

.top_category .searches::-webkit-scrollbar {
    display: none;
}

.top_category .searches .infinity-scroll {
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;
}

.top_category .searches .infinity-scroll div {
    background-color: var(--highlight-bg);
    border-radius: 7px;
    padding: 0 10px;
    white-space: nowrap;
    line-height: 30px;
    cursor: pointer;
    text-transform: capitalize;
}

.top_category .searches .infinity-scroll div.active {
    background: #fff;
    color: #0f0f0f
}

.top_category .searches .infinity-scroll div:hover {
    background: var(--highlight-light-bg);
}

.videocard {
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}

.videocard:active {
    background: var(--highlight-light-bg);
}

.videocard.playlist-item {
    display: flex;
    gap: 15px;
}

.videocard.playlist-item .thumbnail {
    width: 40%;
    min-width: 160px;
    max-width: 200px;
}

.videocard.playlist-item .info {
    flex: 1 1;
    margin-top: 0;
    width: 60%;
    max-width: calc(100% - 160px - 15px);
}

.videocard.playlist-item .info .video-info {
    width: 100%;
}

.videocard .thumbnail {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    position: relative;

}

.videocard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videocard .thumbnail .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, .85);
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    padding: 0 3px;
    border-radius: 5px;
    font-weight: bold;
}

.videocard .info {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.videocard .info .channel-logo {
    width: 40px;
    height: 40%;
}

.videocard .info .channel-logo img {
    aspect-ratio: 1;
    border-radius: 50%;
}

.videocard .info .video-info {
    flex: 1;
    padding-right: 5px;
    box-sizing: border-box;
}

.videocard .info .video-info h4,
.playlist-card .info h4,
.channel-home-section h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #f0f0f0;
    margin-bottom: 4px;
    -webkit-line-clamp: 2;
    word-break: break-word;
}

.videocard a {
    text-decoration: none;
    color: inherit;
}

.videocard span,
.playlist-card span,
.channel-home-section span {
    color: #aaaaaa;
    /* line-height: 20px; */
    font-size: 15px;
    fill: currentColor;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.videocard span+span {
    margin-left: 5px;
}

.videocard .channel-info,
.videocard .extra-info {
    /* display: flex; */
    align-items: center;
    gap: 0 5px;
    margin: 2px 0;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    white-space: normal;
}

.videocard .channel-info .channel-name:hover {
    color: #f0f0f0;
}

.playlist-card {
    /* width: 200px; */
    font-size: 16px;
}


.playlist-card .thumbnail {
    position: relative;
    /* overflow: hidden; */
    border-radius: 8px;
    display: flex;
    z-index: 1;
}

.playlist-card .thumbnail::before {
    content: "";
    inset: 10px;
    position: absolute;
    background: var(--white-text-color);
    top: -4px;
    z-index: -1;
    border-radius: 4px;
}

.playlist-card .thumbnail img {
    border-radius: inherit;
}

.playlist-card .thumbnail .count {
    background: rgba(0, 0, 0, .7);
    color: var(--white-text-color);
    display: flex;
    gap: 3px;
    height: 1.25em;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 3px;
    padding: 0 0.3em;
    box-sizing: border-box;
    align-items: center;
}

.playlist-card .thumbnail .count span {
    font-size: 0.8em;
}

.playlist-card .thumbnail .count svg {
    fill: currentColor;
    height: 100% !important;
}

.playlist-card .info {
    margin-top: 10px;
}

.playlist-card .info a .open-playlist {
    font-size: 0.8em;
    font-weight: 500;
}

.playlist-card .info a .open-playlist:hover {
    color: var(--white-text-color)
}