#home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#homegrid {
    display: grid;
    gap: 30px 15px;
    padding-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: auto;
    /* height: calc(100% - 300px); */
}

#homegrid::-webkit-scrollbar {
    display: none;
    width: 0;
}