header {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    justify-content: space-between;
}

header>div,
#menubar .bar-header {
    display: flex;
    height: 48px;
    gap: 15px;
}

header .yt_icon {
    /* background-color: #fff; */
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .yt_icon:hover,
header .mic.yt_icon {
    background: var(--highlight-bg);
}

header .mic.yt_icon:hover {
    background: var(--highlight-light-bg);
}

header .yt_icon svg {
    height: 60% !important;
    fill: #fff;
}

header .logo {
    /* width: 100%; */
    display: flex;
    place-items: center;
}

header .logo svg {
    /* width: 100%; */
    height: 45% !important;
    fill: #fff;
}

#search_box {
    flex:  0.5 1 400px;
}

#SearchForm{
    height: 100%;
    display: flex;
    flex: 1 1;
    
}

#SearchForm input, #SearchForm button {
    /* height: 50%; */
    background: transparent;
    border: .5px solid #303030;
    /* border-radius: 15px; */

}
#SearchForm input {
    background: #121212;
    border-radius: 24px 0 0 24px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    width: 100%;
    color: #999;
}

#SearchForm input:focus {
    border-color: #4d9aff
}

#SearchForm button {
    background: #222222;
    border-radius:   0 24px 24px 0;
    border-left: 0;
    width: 80px;
}

#menubar {
    background: #0f0f0f;
    /* background: #fff8; */
    position: absolute;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 100;
    box-sizing: border-box;
    gap: 0;
    flex-direction: column;
    transition: 0.15s ease-in-out;
}
#menubar.active {
    left: 0;
}
#menubar::before {
    /* content: ''; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    z-index: -1;
    background-color: #fff6;
}

#menubar .bar-header {
    box-sizing: border-box;
    margin:  10px 20px 0;
}

#menubar .menu {
    flex: 1;
    overflow: auto;
    padding: 0;
    /* box-shadow: inset 0 0 0 2px #fff;*/
}

#menubar .menu::-webkit-scrollbar {
    background: transparent;
    width: 16px;
}

#menubar .menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
}
#menubar .menu:hover::-webkit-scrollbar-thumb{
    background-color: #717171;
}

#menubar .menu li {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0;
}
#menubar .menu li .item {
    text-decoration : none;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #f1f1f1;
    fill: currentColor;
    padding: 0 10px 0 20px;
    font-size: 15px;
}
#menubar .menu li a:hover,
#menubar .menu li a.active{
    background: #ffffff1a;
}

#menubar .menu li .icon {
    height: 25px;
    width: 60px;
}
#menubar .menu li svg,
#menubar .menu li img {
    aspect-ratio: 1;
    height: 100% !important;
    width: unset !important;
}
#menubar .menu li img {
    border-radius: 50%;
}

#menubar .menu .block {
    border-bottom: 1px solid #ffffff33;
    padding: 10px 0;
    position: relative;
}
#menubar .menu .block:nth-of-type(1)::before {
    content: '';
    display: block;
    width: calc(100% - 10px);
    margin-left: auto;
    height: 1px; 
    background: #ffffff33;
    /* top: -10px; */
    margin-bottom: 10px;
    
}

#menubar .menu li.block-title .title {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-transform: capitalize;
}

#menubar .footer-text {
    padding: 10px 20px 10px;
    overflow: hidden;
    box-sizing: border-box;
}
#menubar .footer-text  a{
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
    text-decoration: none;
    margin-right: 7px;
}
#menubar .copyright{
    font-size: 12px;
    color: #717171;
    padding: 10px 20px;
}